@import "normalize.css";

*{
    box-sizing: border-box;
}

ul{
    padding: 0;
    list-style: none;
}

button:focus{
    outline: none;
}

.body{
    min-width: 320px;
    max-width: 1280px;
    overflow-x: hidden;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    background-color: black;
}

.header{
    position: relative;
    line-height: 0;
    padding-top: min(9%, 45px);
    padding-bottom: min(10%, 41px);
    margin: 0 auto;
    margin-bottom: 42px;
}

.header::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(84, 84, 84, 0.7);
}

.header__logo{
    width: min(32.5%, 125px);
    margin-left: 27px;
}

@media screen and (min-width: 1024px) {
    .header{
        width: calc(100% - min(31.5vw, 400px));
        margin-bottom: 40px;
    }

    .header__logo{
        width: 142px;
        margin-left: 0;
    }
}

.main{
    width: calc(100% - max(11%, 38px));
    margin: 0 auto;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 36px;
}

.profile__photo-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 26px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.profile__photo{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile__info{
    text-align: center;
}

.info__container{
    display: inline-block;
    position: relative;
}

.info__name{
    display: inline-block;
    font-size: 27px;
    line-height: 33px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 14px;
}

.change-info-btn{
    position: absolute;
    width: 16px;
    height: 16px;
    transition: opacity 0.8s;
    background-image: url(images/change-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: 7.5px 7.5px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    right: -28px;
    top: 9px;
}

.change-info-btn:hover{
    opacity: 0.6;
}

.info__text{
    font-size: 14px;
    line-height: 17px;
    margin-top: 0;
    margin-bottom: 36px;
}

.add-photo-btn{
    width: 100%;
    max-width: 450px;
    height: 50px;
    transition: opacity 0.5s;
    padding: 0;
    background-image: url(images/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
}

.add-photo-btn:hover{
    opacity: 0.6;
}

@media screen and (min-width: 1024px) {
    .main{
        width: calc(100% - min(31.5vw, 400px));
    }

    .profile{
        flex-direction: row;
        margin-bottom: 50px;
    }

    .profile__photo-container{
        margin-bottom: 0;
        margin-right: 30px;
    }

    .profile__info{
        text-align: left;
    }
    
    .info__name{
        font-size: 42px;
        line-height: 48px;
        margin-bottom: 16px;
    }

    .change-info-btn{
        width: 22px;
        height: 22px;
        right: -40px;
        top: 15px;
        background-size: 10px 10px;
    }

    .info__text{
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 0;
    }
    
    .add-photo-btn{
        width: 150px;
        margin-left: auto;
        cursor: pointer;
    }
}

.photos__list{
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
    column-gap: 17px;
}

.photos__list-item{
    position: relative;
    width: 282px;
    max-height: 361px;
    border-radius: 10px;
    background-color: white;
}

.item__image-container{
    width: 100%;
    height: 282px;
    border-radius: 10px 10px 0px 0px;
    background-color: #C4C4C4;
}

.item__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: opacity 0.5s;
    background-color: transparent;
    border-radius: 10px 10px 0px 0px;
}

.item__image:hover{
    opacity: 0.85;
}

.delete-item{
    position: absolute;
    width: 18px;
    z-index: 1;
    height: 19px;
    cursor: pointer;
    background-image: url(images/trash.svg);
    background-position: center;
    background-size: 100% 100%;
    top: 20px;
    right: 20px;
    transition: all 0.5s;
}

.delete-item:hover{
    opacity: 0.6;
}

.item__container{
    display: flex;
    align-items: center;
    margin-left: 21px;
    margin-right: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.item__header{
    line-height: 29px;
    font-weight: 900;
    margin: 0;
}

.like-btn{
    width: 22px;
    height: 19px;
    background-color: transparent;
    background-image: url(images/like.svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s;
    border: none;
    margin-left: auto;
    cursor: pointer;
}

.like-btn:hover{
    opacity: 0.5;
}

.footer{
    width: calc(100% - max(11%, 38px));
    margin: 0 auto;
    margin-top: 48px;
    padding-bottom: 36px;
}

.copyright{
    color: rgba(84, 84, 84, 1);
    font-size: 14px;
    line-height: 17px;
    margin: 0;
}

@media screen and (min-width: 1024px) {
    .footer{
        width: calc(100% - min(31.5vw, 400px));
        margin-top: 66px;
        padding-bottom: 60px;
    }

    .copyright{
        font-size: 18px;
        line-height: 22px;
    }
}

.like-btn_pressed{
    background-image: url(images/like_pressed.svg);
}

.menu-container{
    position: fixed;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    transition: opacity .3s, visibility .3s;
    opacity: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: min(calc(100% - max(11%, 38px)), 430px);
    background-color: white;
    border-radius: 10px;
    font-size: 14px;
    line-height: 17px;
}

.menu__title{
    font-size: 18px;
    line-height: 22px;
    font-weight: 900;
    padding-top: 25px;
    margin: 0 22px;
    margin-bottom: 75px;
}

.menu__form{
    position: relative;
    width: calc(100% - 44px);
    margin: 0 auto;
}

.menu__input{
    width: 100%;
    border: none;
    padding: 0;
    padding-bottom: 13px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    transition: border-bottom 0.4s ease-in-out;
}

.menu__input:focus{
    outline: none;
}

.submit-button{
    width: 100%;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 0.6s, visibility 0s;
    border: none;
    border-radius: 2px;
    border: 2px solid black;
    padding: 14px 0;
    margin: 0 auto;
    margin-top: 18px;
    margin-bottom: 25px;
}

.submit-button:hover{
    opacity: 0.8;
}

.close-button{
    position: absolute;
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
    transition: opacity 0.6s;
    cursor: pointer;
    background-color: transparent;
    background-image: url(images/closeicon.svg);
    background-size: 100% 100%;
    border: none;
}

.close-button:hover{
    opacity: 0.8;
}

.full-image-container{
    position: relative;
    color: white;
    font-size: 12px;
    line-height: 14.5px;
}

.full-image{
    display: block;
    max-width: max(50vw, 300px);
    max-height: max(50vh, 600px);
    margin-bottom: 10px;
}

@media screen and (min-width: 1024px) {
    .menu__title{
        font-size: 24px;
        line-height: 29px;
        margin-left: 36px;
        margin-bottom: 54px;
    }

    .menu__form{
        width: calc((100% - 72px));
    }

    .submit-button{
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 37px;
    }

    .close-button{
        width: 32px;
        height: 32px;
        right: -40px;
        top: -40px
    }
}

.profile__photo-container::after{
    position: absolute;
    content: '';
    z-index: 3;
    transition: opacity .3s;
    opacity: 0;
    width: 122px;
    height: 122px;
    cursor: pointer;
    background-image: url(images/change-photo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    top: -1px;
    left: -1px;
}

.profile__photo-container:hover::after{
    opacity: 1;
}

.menu__input-container{
    position: relative;
}

.validation-message{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    color: red;
    font-size: 12px;
    line-height: 15px;
    bottom: 10px;
    left: 0;
}

.submit-button:disabled{
    background-color: inherit;
    color: black;
    opacity: .2;
}

.active {
    visibility: visible;
    opacity: 1;
}